/* 这个css文件用来设置网页头部和尾部样式 */
/* 版心 */
.container {
    width: 1240px;
    margin: 0 auto;
}
/* 头部导航 */
.top-nav {
    height: 52px;
    background-color: #333 ;
    line-height: 52px;
}
.top-nav ul {
    float:right

}
.top-nav li {
    float: left;
}
.top-nav li a {
    color: #dcdcdc;
    padding: 0 13px;
    border-right: 1px solid #666;
}
.top-nav li:last-child a {
    border-right: 0;
}
.top-nav li a:hover {
    color: #5eb69c;
}
.top-nav li a i {
    display: inline-block;
    width: 13px;
    height: 17px;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -3px;
    background: url(../images/sprites.png) no-repeat -158px -69px;
}
.nav {
    height: 130px;
}
.logobox {
    float: left;
    width: 207px;
    height: 70px;
    margin-top: 30px;
}
.logobox a {
    display: block;
    width: 207px;
    height: 70px;
    /* 隐藏文字 */
    font-size: 0px;
    background: url(../images/logo.png) no-repeat;
    background-size: 207px 70px;
}

.middle-nav {
    float: left;
    height: 130px;
    margin-left: 40px;
}
.middle-nav ul {
    margin-top: 56px;
}
.middle-nav li {
    float: left;
    margin-right:48px ;
    font-size: 20px;
    font-weight: 800;
    color: #dcdcdc;
}
.middle-nav li a {
    display: block;
    padding-bottom: 6px;
    transition: all .2s;
}
.middle-nav li:hover a {
    border-bottom: 1px solid #5eb69c;
    color: #5eb69c;
}
.search-buy {
    float: left;
    position: relative;
    width: 172px;
    height: 30px;
    margin-top: 56px;
}
.search-buy input {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    font-size: 10px;
    padding-left: 30px;
    
    
}
.search-buy input:hover {
    border: 1px solid #5eb69c;
}
.search-buy::before {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    /* background-color: #000; */
    margin-top: -13px;
    background: url(../images/sprites.png) no-repeat -79px -67px;
}
.shopping-car {
    float: left;
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 56px;
    margin-left: 3px;
    background: url(../images/sprites.png) no-repeat -117px -68px;
}
.shopping-car a {
    display: block;
    width: 100%;
    height: 100%;
}
.goodsnum {
    position: absolute;
    left: 15px;
    top: -5px;
    padding: 0 6px;
    /* 购物数量的盒子，不能给宽度，又数字大小撑开，不然就限定为个位了 */
    /* width: 20px; */
    color: #fff;
    font-size: 10px;
    background-color: orange;
    border-radius: 8px;
    text-align: center;
}



/* 页面底部部分 */
.concat {
    height: 300px;
}
.concat .container {
    height: 300px;
    padding-top: 75px;
    /* background: pink; */
}
.concat .container dl {
    float: left;
    width: 310px;
    padding: 0 55px;
   
}
.concat dl dt {
    color: #999;
    text-align: center;
}
.concat dl dd{
    float: left;
    width: 92px;
    height: 92px;
    border: 1px solid #eee;
    margin-top: 35px;
    padding-top: 30px;
    text-align: center ;
    color: #999;
}
.concat dl dd:nth-child(2) {
    margin-right: 5px;
    
}


.kefu::before {
    content: "" ;
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    background: url(../images/sprites.png) no-repeat -250px -70px; 
}
.question::before {
    content: "" ;
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    background: url(../images/sprites.png) no-repeat -351px -70px; 
}
.gzh::before {
    content: "" ;
    display: block;
    width: 37px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    background: url(../images/sprites.png) no-repeat -203px -14px; 
}
.wb::before {
    content: "" ;
    display: block;
    width: 37px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    background: url(../images/sprites.png) no-repeat -349px -14px; 
}
.download dl{
    border-right: 1px solid #999;
}
.download .ewm {
    width: 102px;
    height: 102px;
    margin-top: 26px;
    padding-top: 0;
    background-color: red;
}
.download .ewm img {
   
    width: 102px;
    height: 102px;
}
.download .download-page {
    width: 90px;
    height: 102px;
    margin-top: 26px;
    padding-top: 10px;
    font-size: 15px;
    border: none;
}
.download .download-page a {
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    background: #5eb69c;
    color: #fff;
}
.download dl h1 {
    font-size: 20px;
    margin-top: 45px;
    text-align: center;
}
.download p {
    color: #999;
    text-align: center;
}
.bottom {
    height: 360px;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: #fff;
}
.bottom .container{
    height: 360px;
    
}
.bottom-top {

    height: 180px;
}
.bottom .bottom-top ul li {
    float: left;
    width: 400px;
    height: 180px;
    margin-left: 10px;
    line-height: 180px;
    font-size: 30px;
    font-weight: 800;
    /* background: pink; */
    
}


.bottom .bottom-top li::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 57px;
    height: 59px;
    margin-right: 5px;
    background: url(../images/sprites.png) no-repeat;
}
.bottom .bottom-top li:nth-child(1) {
     background-position: 0 0;
}
.bottom .bottom-top li:nth-child(2) {
   background-position: -129px 0;
}
.bottom .bottom-top li:nth-child(3) {
   background-position: -64px 0;
}
.copyright {
    height: 180px;
    border-top: 1px solid #999;
    /* background: blue; */
    font-size: 12px;
    color: #999;
}
.copyright ul {
    padding: 50px 55px 20px;
}
.copyright ul li{
    float: left;
    width: 70px;
    height: 15px;
    line-height: 15px;
    border-right: 1px solid #999;
    
}
.copyright ul li:last-child {
    border: none;
}
.copyright a {
    color: #fff;
}
.copyright a:hover {
    color: #5eb69c;
}
.copyright ul li:first-child {
    margin-left: 340px;
}




